<!DOCTYPE html>
<html>
    <head>
        <title>Shop Login</title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div class="content">
            <h1 th:text="#{login.titulo}"/>
            <form method="post">
                <div class="txt_field">
                    <label th:text="#{login.usuario}"/>
                    <input type="text" required/>
                </div>
                <div class="txt_field">    
                    <label th:text="#{login.contraseña}"/>
                    <input type="password" required/>
                </div>
                <button class="login" type="submit">
                    <p th:text="#{login.boton}"></p>
                </button>
                <div class="signup_link">
                    <p th:text="#{login.miembro}"/><a th:text="#{login.registrarse}" href=""/>
                </div>
            </form>
        </div>
    </body>
</html>
