<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/template::head"></head>
    <body>
        <header th:replace="layout/template::header"/>
        <div class="container">
            <h1 th:text="#{index.titulo}">Lista de Personas</h1>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregarPersona}">
                    <button th:text="#{personas.nueva}" type="button" class="btn btn-outline-success"></button>
                </a>
            <div th:if="${personas!=null or !personas.empty}">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th th:text="#{personas.apellidoPaterno}" scope="col"></th>
                            <th th:text="#{personas.apellidoMaterno}" scope="col"></th>
                            <th th:text="#{personas.email}" scope="col"></th>
                            <th th:text="#{personas.telefono}" scope="col"></th>
                            <th th:text="#{personas.pais}" scope="col"></th>
                            <th sec:authorize="hasRole('ADMIN')" th:text="#{personas.modificar}" scope="col"></th>
                            <th sec:authorize="hasRole('ADMIN')" th:text="#{personas.eliminar}" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" th:each="persona : ${personas}">
                            <td th:text="${persona.getApellido1}"/>
                            <td th:text="${persona.getApellido2}"/>
                            <td th:text="${persona.getEmail}"/>
                            <td th:text="${persona.getTelefono}"/>
                            <td th:text="${persona.getPais.getPais}"/>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/modificarPersona/} + ${persona.id}">
                                    <button th:text="#{personas.modificar}" type="button" class="btn btn-outline-warning"></button>
                                </a>
                            </td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/eliminarPersona/} + ${persona.id}">
                                    <button th:text="#{personas.eliminar}" type="button" class="btn btn-outline-danger"></button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${personas==null or personas.empty}">
                <p>No hay personas en este momento</p>
            </div>
    </div>
    </body>
</html>